<div class="container">
  <br>
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center" >ข้อมูลการลงทะเบียน</h2>
        <div>
          <button class="btn btn-success text-left"  (click)="addUser()"> Add User</button>
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>ลำดับ</th>
            <th>เลขที่บัตรประชาชน</th>
            <th>คำนำหน้า</th>
            <th>ชื่อตัวไทย</th>
            <th>ชื่อสกุลไทย</th>
            <th>เพศ</th>
            <th>หมู่โลหิต</th>
            <th>วันเกิด</th>
            <th>แก้ไข</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; let num = index">
   
            <td>{{num+1}}</td>
            <td>{{user.CITIZEN_ID}}</td>
            <td>{{user.TITLE}}</td>
            <!-- <td>{{this.chack.user}}</td> -->
            <td>{{user.FIRST_NAME}}</td>
            <td>{{user.LAST_NAME}}</td>
            <td>{{user.SEX}}</td>
            <td>{{user.BLOOD}}</td>
            <td>{{user.BIRTH_DATE| date: 'dd/MM/yyyy'}}</td>
            <!-- <td><button class="btn btn-danger" (click)="deleteuserdetails(user)"> Delete</button></td> -->
              <td>  <button class="btn btn-success" (click)="updateUser(user)" style="margin-left: 20px;"> Edit</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>