<div class="container">
  <br>
  <h2 class="text-center" >ข้อมูลการลงทะเบียน</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="float-right">
        <button class="btn btn-outline-primary btn-sm"  (click)="addUser()">เพิ่มข้อมูลทะเบียน</button>
      </div>
    </div>
  </div>
  <br>

  <!-- <div class="row"> 
    <div class="col-md-6">
      <div class="form-group">
          <label for="formGroupExampleInput">ชื่อตัวไทย</label>
          <input type="text" formControlName="firstname" id="firstname" class="form-control input-sm" autocomplete="off" placeholder="ชื่อตัวไทย">
      </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="formGroupExampleInput">ชื่อสกุลไทย</label>
            <input type="text" formControlName="lastname" id="lastname" class="form-control input-sm" autocomplete="off" placeholder="ชื่อสกุลไทย">
        </div>
    </div>
  </div> -->

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>ลำดับ</th>
            <th></th>
            <th>เลขที่บัตรประชาชน</th>
            <th>คำนำหน้า</th>
            <th>ชื่อตัวไทย</th>
            <th>ชื่อสกุลไทย</th>
            <th>เพศ</th>
            <th>หมู่โลหิต</th>
            <th>วันเกิด</th>
            <th>รายละเอียด</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users; let num = index">
   
            <td>{{user.ID}}</td>
            <td>
              <div class="custom-control form-control-lg custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1"></label>
              </div>
               <!-- <label >
                <input type="checkbox"  >
              </label> -->
              
              <!-- <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1"></label> -->
            </td>
            <td>{{user.CITIZEN_ID}}</td>
            <td>{{user.TITLE}}</td>
            <!-- <td>{{this.chack.user}}</td> -->
            <td>{{user.FIRST_NAME}}</td>
            <td>{{user.LAST_NAME}}</td>
            <td>{{user.SEX}}</td>
            <td>{{user.BLOOD}}</td>
            <td>{{user.BIRTH_DATE| date: 'dd/MM/yyyy'}}</td>
            <!-- <td><button class="btn btn-danger" (click)="deleteuserdetails(user)"> Delete</button></td> -->
              <td>  <button class="btn btn-success" (click)="updatehistoryUser(user)" style="margin-left: 20px;"> Edit</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>